<a href="https://colab.research.google.com/github/ashok2815/pythonnew/blob/module-2/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a function which accepts two inputs from the user and compute n
Cr

In [ ]:
def nCr(n, r):
    return (fact(n) /  (fact(r)
                 *fact(n -r)))
def fact(n):
   res = 1
   for i in range(2, n+1):
     res = res * i
   return res 
   n=5
   r=3
   print(int(nCr(n, r)))

Program to get the difference between the two lists.

In [ ]:
def Diff(li1, li2):
  li_dif = [i for i in li1 + li2 if i not in li1 or i not in li2]
  return li_dif
li1 = [26, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]
li3 = Diff(li1, li2)
print(li3)

[26, 15, 20, 30]

Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [ ]:
sample = ['a', 'b', 'c', 'd', 'e', 'f']
sample.pop(0)
sample.pop(3)
sample.pop(3)
print(sample)

['b', 'c', 'd']

Program to find the second smallest number and second largest number in a list

In [ ]:
list = [7, 6, 8, 3, 4, 5]
def dc() :
   a = sorted(list)
   small2 = list[1]
   large2 = list[-2]
   print(small2)
   print(large2)
dc()

6
4

Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the 
number

In [ ]:
a = [8,6,9,5,3]
b = []
for i in a :
  c = (i,i*i)
  b.append(c)
  c = tuple(b)
print(c)

((8, 64), (6, 36), (9, 81), (5, 25), (3, 9))

Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
Explanation : (4, 5) of len = 2 is removed.

In [ ]:
a = [(4,5) , (4,) , (8,6,7) , (1,) , (3,4,6,7)]
i = 0
while i < len(a) :
  if len(a[i]) == 2 :
    a.pop(i)
  else :
    i = i + 1
    print(a)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
##Program to remove a key from a dictionary

myDict = {'a':1,'b':2,'c':3,'d':4}
if 'a' in myDict: 
    del myDict['a']
print(myDict)

{'b': 2, 'c': 3, 'd': 4}

In [ ]:
##Program to get the maximum and minimum value in a dictionary.

a = {300,385,6324,7614,3843,674}
print(max(a),min(a))

7614 300

In [ ]:
##Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations

a= "rohit is a opener batsmen"
print(a.split())
print(a[2:8])

['rohit', 'is', 'a', 'opener', 'batsmen']
hit is

In [ ]:
##Program for replacing one substring by another

a="rohit sharma"
print (a.replace("r" , "e" ))

eohit shaema

In [ ]:
##Program to Acronym generator for any user input 

import random
a=input("enter the command ")
if "rohit"==a:
    for x in range(5):
        a=random.randint(2,5)
        print(a)

enter the command rohit
4
3
2
3
3

In [ ]:
##Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.

def string(a):
    b=0;c=0
    for x in a:
        if x.isupper():
           b=b+1
        else:
           c=c+1
    print("the lower values", b)
    print("the upper values", c)

string("rohIt sHarma")

the lower values 2
the upper values 10